<!doctype html>
<html>
  <head>
    <title>{{tenant.dashboard_title}}</title>
    <link
      rel="shortcut icon"
      href="/static/tenant_logos/{{tenant.tenant_id}}.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include("components/common_head.html") %}
    <style>
      {% include("components/common_style.css") %}

      main {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 4fr 3fr 4fr;
        grid-template-rows: {{grid_template_rows}};
        grid-template-areas: {{grid_template | safe}};
        padding: 1rem max(2rem, calc(50vw - 640px));
      }

      .component-card {
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 1px 4px 0px rgba(69, 75, 87, 0.12), 0px 0px 0px 1px rgba(152, 161, 178, 0.10);
        padding: 0.75rem;
        border-radius: 0.5rem;
        background: var(--bg2);
        place-self: stretch;
      }

      .component-card h2 {
        font-size: 1rem;
      }

      @media only screen and (max-width: 840px) {
        main {
          display: block;
          padding: 0.5rem;
        }
        main>* {
          margin-bottom: 1rem;
        }
      }
    </style>
    <script>
      const csrfToken = "{{csrf_token()}}";
      const onDataLoad = [];
      const regionId = location.pathname.split("/").pop();
      const dateSettings = {
        startDate: "",
        endDate: "",
        periodName: "",
        presetIndex: null,
      };
      let data;
      let regionMap;

      const datePresets = [];
      const latestDate = "{{latest_date}}";
      function computeDatePresets() {
        let today = new Date(latestDate);

        const thisMonthStartDate = new Date(
          today.getFullYear(),
          today.getMonth(),
          1,
        );

        datePresets.push({
          startDate: dateObjToStr(thisMonthStartDate),
          endDate: latestDate,
          periodName: `1-${today.getDate()} ${monthShortNames[thisMonthStartDate.getMonth()]} '${(thisMonthStartDate.getFullYear() % 100).toString().padStart(2, "0")}`,
        });

        const lastMonthStartDate = new Date(
          today.getFullYear(),
          today.getMonth() - 1,
          1,
        );
        const lastMonthEndDate = new Date(
          today.getFullYear(),
          today.getMonth(),
          0,
        );
        datePresets.push({
          startDate: dateObjToStr(lastMonthStartDate),
          endDate: dateObjToStr(lastMonthEndDate),
          periodName: `${monthShortNames[lastMonthStartDate.getMonth()]} '${(lastMonthStartDate.getFullYear() % 100).toString().padStart(2, "0")}`,
        });

        const thisYearStartDate = new Date(today.getFullYear(), 0, 1);
        datePresets.push({
          startDate: dateObjToStr(thisYearStartDate),
          endDate: latestDate,
          periodName: `Jan 1 - ${monthShortNames[today.getMonth()]} ${today.getDate()} ${thisYearStartDate.getFullYear().toString()}`,
        });

        const lastYearStartDate = new Date(today.getFullYear() - 1, 0, 1);
        const lastYearEndDate = new Date(today.getFullYear() - 1, 11, 31);
        datePresets.push({
          startDate: dateObjToStr(lastYearStartDate),
          endDate: dateObjToStr(lastYearEndDate),
          periodName: lastYearStartDate.getFullYear().toString(),
        });
      }

      async function loadData() {
        const aggregates = [
          "summary",
          "subregionwise_distribution",
          "feature_distributions",
          "trends",
          "predictions",
          "reports",
        ];
        if (!regionMap) {
          aggregates.push("subregions_geojson");
        }
        const response = await fetch("/api/data/query", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrfToken,
          },
          body: JSON.stringify({
            region_id: regionId,
            start_date: dateSettings.startDate,
            end_date: dateSettings.endDate,
            aggregates: aggregates,
          }),
        });
        data = await response.json();

        if (data.subregions_geojson) {
          regionMap = data.subregions_geojson;
          delete data.subregions_geojson;
        }

        onDataLoad.forEach((fn) => {
          fn(data);
        });
      }

      window.addEventListener("load", () => {

        mixpanel.init("{{MIXPANEL_PROJECT_TOKEN}}", {
          debug: true,
          track_pageview: true,
          persistence: "localStorage",
        });

        {% if request.user %}
        mixpanel.identify("{{request.user.user_id}}/{{request.user.tenant_id}}");
        {% endif %}

        computeDatePresets();
        const savedDateSettings = JSON.parse(
          sessionStorage.getItem("selected-date"),
        );
        if (savedDateSettings && savedDateSettings.presetIndex === null) {
          dateSettings.startDate = savedDateSettings.startDate;
          dateSettings.endDate = savedDateSettings.endDate;
          dateSettings.periodName = savedDateSettings.periodName;
          d3.select("#custom-start-date").node().value = dateSettings.startDate;
          d3.select("#custom-end-date").node().value = dateSettings.endDate;
        } else {
          let index = 0;
          if (
            savedDateSettings &&
            typeof savedDateSettings.presetIndex == "number"
          ) {
            index = savedDateSettings.presetIndex;
          }
          dateSettings.startDate = datePresets[index].startDate;
          dateSettings.endDate = datePresets[index].endDate;
          dateSettings.periodName = datePresets[index].periodName;
        }
        loadData();
      });

      function downloadAsFile(text, filename) {
        var element = document.createElement("a");
        element.setAttribute(
          "href",
          "data:text/plain;charset=utf-8," + encodeURIComponent(text),
        );
        element.setAttribute("download", filename);
        element.style.display = "none";
        document.body.appendChild(element);
        element.click();
        document.body.removeChild(element);
      }

      function getRootCssVar(varName) {
        return getComputedStyle(
          document.querySelector(":root"),
        ).getPropertyValue(varName);
      }

      function dateObjToStr(dateObj) {
        const y = dateObj.getFullYear().toString();
        const m = (dateObj.getMonth() + 1).toString().padStart(2, "0");
        const d = dateObj.getDate().toString().padStart(2, "0");
        return `${y}-${m}-${d}`;
      }

      const monthShortNames = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];

      function trackEvent(eventName, props) {
        if(props) {
          mixpanel.track(eventName, props);
        } else {
          mixpanel.track(eventName, {});
        }
      }
    </script>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <script src="/static/js/papaparse.min.js"></script>
  </head>
  <body>
    {% include("components/header.html") %}
    <!--  -->
    {% include("components/subheader.html") %}
    <main>
      {% for component in components %}
      <!-- -->
      {% include("components/" + component + ".html") %}
      <!-- -->
      {% endfor %}
    </main>
  </body>
</html>
