* {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  margin: 0;
  font-variant-ligatures: no-common-ligatures;
}

:root {
  /* background-colors */
  --bg1: #f5faff;
  --bg2: #ffffff;
  --bg3: #f7f7f9;
  --bg-shaded: #b6d9f9;
  --bg-tinted: #cfe8ff;

  /* dim */
  --d1: #d7d7d7;
  --d2: #e4e4e4;

  /* font */
  --f1: #364256;
  --f2: #495974;

  --interactive: #005fdf;
}

html {
  font-size: clamp(16px, 16px + 0.3vw, 22px);
  color: var(--f1);
}

h1,
h2,
h3,
h4,
h5,
h6,
b {
  font-weight: 600;
}

body {
  background: var(--bg1);
}
