<style>
  .component-card.map {
    grid-area: map;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 0.75rem;
  }

  .component-card.map > div {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0.5rem;
  }

  svg.map {
    height: 50vh;
    width: 50vh;
    justify-self: center;
  }

  .component-card.map .scale {
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
  }

  .component-card.map .scale > div {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 0.25rem;
    align-items: center;
  }
</style>
<div class="component-card map">
  <nav>Nav</nav>
  <div id="confirmed-cases-map">
    <svg class="map" viewBox="0 0 100 100"></svg>
    <div id="confirmed-cases-map-scale" class="scale"></div>
  </div>
</div>
<script>
  let regionMap;
  async function renderMap() {
    if (!regionMap) {
      // load map only if not previously loaded
      // happens only on page load
      // skipped when triggered from tab switcher
      regionMap = await d3.json(`/maps/subregions/${regionId}`);
    }
    renderCaseMap(data.subregionwise_distribution);
  }

  function renderCaseMap(dataRows) {
    const stage = "confirmed";
    const rows = dataRows.sort((a, b) => b[stage] - a[stage]);

    const maxValue = rows[0][stage];
    const minValue = rows[rows.length - 1][stage];
    const valueRangeSize = maxValue - minValue;

    let scale = [];
    if (valueRangeSize == 0) {
      scale = [[0, `${minValue} cases`, getRootCssVar("--red1")]];
    } else if (valueRangeSize <= 11) {
      const b = minValue + Math.ceil(caseRangeSize / 2);
      scale = [
        [0, `Below ${b} cases`, getRootCssVar("--red1")],
        [b, `${b}+ cases`, getRootCssVar("--red4")],
      ];
    } else {
      const b1 = minValue + Math.ceil(valueRangeSize / 4);
      const b2 = minValue + 2 * Math.ceil(valueRangeSize / 4);
      const b3 = minValue + 3 * Math.ceil(valueRangeSize / 4);
      scale = [
        [0, `<${b1}`, getRootCssVar("--red1")],
        [b1, `${b1}-${b2 - 1}`, getRootCssVar("--red2")],
        [b2, `${b2}-${b3 - 1}`, getRootCssVar("--red3")],
        [b3, `>${b3}`, getRootCssVar("--red4")],
      ];
    }

    const scaleBox = d3.select("#confirmed-cases-map-scale");
    scaleBox.text("");
    for (let i = scale.length - 1; i >= 0; i--) {
      const div = scaleBox.append("div");
      div
        .append("div")
        .style("display", "inline-block")
        .style("width", "2rem")
        .style("height", "0.75rem")
        .style("background", scale[i][2]);
      div.append("span").text(scale[i][1]);
    }

    let regionCases = {};
    let regionColors = {};
    rows.forEach((row) => {
      const value = row[stage];
      row.ratio = (value - minValue) / (valueRangeSize || 1);
      regionCases[row._id] = row;
      for (let i = 0; i < scale.length; i++) {
        if (value >= scale[i][0]) regionColors[row._id] = scale[i][2];
        else break;
      }
    });

    const projection = d3.geoMercator().fitSize([100, 100], regionMap);
    const path = d3.geoPath().projection(projection);
    regionMap.features.forEach((feature) => {
      d3.select("#confirmed-cases-map svg")
        .append("path")
        .datum(feature)
        .style("fill", regionColors[feature.properties.region_id])
        .style("stroke-width", "0.33")
        .style("stroke", "#fff")
        .attr("d", path)
        .append("title")
        .text(feature.properties.region_id);
    });
  }
  onDataLoad.push(renderMap);
</script>
