<style>
  .component-card.map {
    grid-area: map;
    display: grid;
    grid-template-rows: auto 21rem auto;
    gap: 0.5rem;
    height: 100%;
    max-height: 100%;
  }

  .component-card.map > nav {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .component-card.map > nav .tabset {
    grid-template-columns: repeat(4, 1fr);
  }

  #region-map {
    display: inline-grid;
    grid-template-rows: 1fr auto;
    gap: 1.5rem;
    height: 100%;
    align-content: stretch;
    justify-content: center;
  }

  .component-card.map h4 {
    font-size: 0.7rem;
  }

  svg.map {
    justify-self: center;
    height: 100%;
  }

  .component-card.map .scale {
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .component-card.map .scale > div {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 0.25rem;
    align-items: center;
  }

  .component-card.map svg path:hover {
    cursor: pointer;
    opacity: 0.7;
  }
</style>
<div class="component-card map">
  <nav>
    <div id="recorded-data-tabs">
      <h4>Recorded Data</h4>
      <div class="tabset">
        <input
          type="radio"
          name="map-tab"
          id="map-tab-1"
          value="confirmed"
          onchange="renderSelectedMap()"
          checked
        />
        <label for="map-tab-1">Confirmed</label>
      </div>
    </div>
    <div id="weekwise-predictions-tabs">
      <h4>Weekwise Predictions</h4>
      <div class="tabset">
        <input
          type="radio"
          name="map-tab"
          id="map-tab-2"
          value="prediction-0"
          onchange="renderSelectedMap()"
        />
        <label for="map-tab-2">T+1</label>

        <input
          type="radio"
          name="map-tab"
          id="map-tab-3"
          value="prediction-1"
          onchange="renderSelectedMap()"
        />
        <label for="map-tab-3">T+2</label>

        <input
          type="radio"
          name="map-tab"
          id="map-tab-4"
          value="prediction-2"
          onchange="renderSelectedMap()"
        />
        <label for="map-tab-4">T+3</label>

        <input
          type="radio"
          name="map-tab"
          id="map-tab-5"
          value="prediction-3"
          onchange="renderSelectedMap()"
        />
        <label for="map-tab-5">T+4</label>
      </div>
    </div>
  </nav>
  <div id="region-map">
    <svg class="map" viewBox="0 0 100 100"></svg>
    <div id="map-scale" class="scale"></div>
  </div>
</div>
<script>
  async function renderSelectedMap() {
    if (!data.predictions?.length) {
      d3.select("#weekwise-predictions-tabs").style("display", "none");
      d3.select("#recorded-data-tabs .tabset").style("display", "none");
      d3.select("#recorded-data-tabs h4").text("Confirmed Cases");
    }

    if (!regionMap) {
      // load map only if not previously loaded
      // happens only on page load
      // skipped when triggered from tab switcher
      console.log("Loading geojson file");
      regionMap = await d3.json(`/maps/subregions/${regionId}`);
    }
    const mapTab = d3.select("input[name=map-tab]:checked").node().value;
    trackEvent("Rendering Map", { map_name: mapTab });
    if (mapTab == "confirmed") {
      renderCaseMap(data.subregionwise_distribution);
    } else {
      const index = parseInt(mapTab.split("-")[1]);
      renderPredictionsMap(data.predictions[index].subregions);
    }
  }

  function renderCaseMap(dataRows) {
    const stage = "confirmed";
    const rows = dataRows
      .map((row) => {
        return {
          key: row.region_id,
          value: row[stage],
          tooltip: `${row.name}: ${row[stage]} case(s)`,
          link: `/region/${row.region_id}`,
        };
      })
      .sort((a, b) => b.value - a.value);

    const maxValue = rows[0].value;
    const minValue = rows[rows.length - 1].value;
    const valueRangeSize = maxValue - minValue;

    let scale = [];
    if (valueRangeSize == 0) {
      scale = [[0, `${minValue} cases`, getRootCssVar("--red1")]];
    } else if (valueRangeSize <= 11) {
      const b = minValue + Math.ceil(valueRangeSize / 2);
      scale = [
        [0, `Below ${b} cases`, getRootCssVar("--v1")],
        [b, `${b}+ cases`, getRootCssVar("--v4")],
      ];
    } else {
      const b1 = minValue + Math.ceil(valueRangeSize / 4);
      const b2 = minValue + 2 * Math.ceil(valueRangeSize / 4);
      const b3 = minValue + 3 * Math.ceil(valueRangeSize / 4);
      scale = [
        [0, `<${b1}`, getRootCssVar("--v1")],
        [b1, `${b1}-${b2 - 1}`, getRootCssVar("--v2")],
        [b2, `${b2}-${b3 - 1}`, getRootCssVar("--v3")],
        [b3, `>${b3}`, getRootCssVar("--v4")],
      ];
    }

    renderMap(rows, scale);
  }

  function renderPredictionsMap(dataRows) {
    const rows = dataRows.map((row) => {
      return {
        key: row.region_id,
        value: row.zone,
        tooltip: `${row.name}`,
        link: `/region/${row.region_id}`,
      };
    });

    const scale = [
      [0, "N/A", getRootCssVar("--bg-shaded")],
      [1, "Min.", getRootCssVar("--green")],
      [2, "Low", getRootCssVar("--yellow")],
      [3, "High", getRootCssVar("--orange")],
      [4, "V. High", getRootCssVar("--red")],
    ];

    renderMap(rows, scale);
  }

  function renderMap(rows, scale) {
    let regionData = {};
    rows.forEach((row) => {
      obj = Object.assign({}, row);
      for (let i = 0; i < scale.length; i++) {
        if (obj.value >= scale[i][0]) obj.fill = scale[i][2];
        else break;
      }
      regionData[obj.key] = obj;
    });

    const scaleBox = d3.select("#map-scale");
    scaleBox.text("");
    for (let i = scale.length - 1; i >= 0; i--) {
      const div = scaleBox.append("div");
      div
        .append("div")
        .style("display", "inline-block")
        .style("width", "1rem")
        .style("height", "0.75rem")
        .style("background", scale[i][2]);
      div.append("span").text(scale[i][1]);
    }

    // map needs "rewinding" because of d3 shenanigans
    // do this only for d3 rendering
    const rewoundMap = { type: "FeatureCollection", features: [] };

    regionMap.features.forEach((feature) => {
      if (feature.geometry) {
        const newFeature = turf.rewind(Object.assign({}, feature), {
          reverse: true,
          mutate: true,
        });
        rewoundMap.features.push(newFeature);
      }
    });

    const projection = d3.geoMercator().fitSize([100, 100], rewoundMap);
    const path = d3.geoPath().projection(projection);
    const mp = d3.select("#region-map svg");
    mp.text("");

    rewoundMap.features.forEach((feature) => {
      const obj = regionData[feature.properties.region_id];
      mp.append("path")
        .datum(feature)
        .style("fill", obj.fill || getRootCssVar("--bg-shaded"))
        .style("stroke-width", "0.33")
        .style("stroke", "#fff")
        .attr("d", path)
        .on("click", () => {
          location.href = obj.link;
        })
        .append("title")
        .text(obj.tooltip);
    });
  }

  onDataLoad.push(renderSelectedMap);
</script>
