<style>
  .component-card.trends {
    grid-area: trends;
  }
  .component-card.trends .svg-container {
    width: 100%;
  }
  .component-card.trends svg {
    width: 100%;
    aspect-ratio: 16 / 7;
  }
  .component-card.trends svg .bar-group text {
    opacity: 0;
  }
  .component-card.trends svg .bar-group:hover text {
    opacity: 1;
  }

  @media only screen and (max-width: 840px) {
    .component-card.trends .svg-container {
      overflow-x: scroll;
    }
    .component-card.trends svg {
      min-width: 720px;
    }
  }
</style>
<div class="component-card trends">
  <h2>Trends</h2>
  <div class="tabset">
    <input
      type="radio"
      name="trends-tab"
      value="confirmed"
      id="trends-tab-1"
      onchange="renderTrendsSection()"
      checked
    />
    <label for="trends-tab-1">Confirmed</label>

    <input
      type="radio"
      name="trends-tab"
      value="tested"
      id="trends-tab-2"
      onchange="renderTrendsSection()"
    />
    <label for="trends-tab-2">Tested</label>
  </div>
  <div class="svg-container">
    <svg id="trends-chart-svg"></svg>
  </div>
</div>
<script>
  function dateStrToChartLabel(date) {
    const chunks = date.split("-");
    const monthMap = {
      "01": "Jan",
      "02": "Feb",
      "03": "Mar",
      "04": "Apr",
      "05": "May",
      "06": "Jun",
      "07": "Jul",
      "08": "Aug",
      "09": "Sep",
      10: "Oct",
      11: "Nov",
      12: "Dec",
    };
    let label = monthMap[chunks[1]];
    if (chunks[2]) label = parseInt(chunks[2]).toString() + " " + label;
    return label;
  }

  function renderTrendsSection() {
    const chartType = d3.select("input[name=trends-tab]:checked").node().value;
    const svg = d3.select("#trends-chart-svg");
    svg.text("");

    if (chartType == "confirmed" || chartType == "tested") {
      const points = data.trends.map((obj) => {
        return {
          label: dateStrToChartLabel(obj.date),
          value: obj[chartType],
          type: "recorded",
        };
      });
      if (chartType == "confirmed") {
        data.predictions.forEach((obj) => {
          const value = Math.ceil(obj.prediction.value || 0);
          const dv = Math.round(value * 0.1);
          points.push({
            label: dateStrToChartLabel(obj.date),
            value: value,
            type: "predicted",
            confidenceValues: [value - dv, value + dv],
          });
        });
      }
      plotChart(svg, points);
    }
  }

  function plotChart(svg, points) {
    svg.text("");

    const values = points.map((p) => p.value);
    const labels = points.map((p) => p.label);
    const maxValue = Math.ceil(Math.max(...values) * 1.1) + 20;

    const maxCharLength =
      maxValue < 10 ? 3 : maxValue.toLocaleString().length + 1;
    const margin = { t: 30, r: 40, b: 32, l: 10 * (maxCharLength + 1) };
    const height = parseInt(svg.style("height")) - margin.t - margin.b;
    const width = parseInt(svg.style("width")) - margin.r - margin.l;
    svg.attr(
      "viewBox",
      `${0 - margin.l} ${0 - margin.t} ${width + margin.l + margin.r} ${height + margin.t + margin.b}`,
    );

    // draw axes
    const axesLayer = svg.append("g");

    // x-axis
    const xScale = d3.scaleBand().range([0, width]).domain(labels);
    const dx = width / labels.length;
    const nLabels = width < 480 ? 4 : 8;
    const xAxis = d3
      .axisBottom(xScale)
      .tickSize(0)
      .tickFormat((t, i) =>
        (labels.length - i - 1) % parseInt(labels.length / (nLabels - 1)) ==
          0 || labels.length <= 7
          ? labels[i]
          : "",
      );
    const xG = svg
      .append("g")
      .attr("transform", `translate(0, ${height})`)
      .attr("class", "x-scale")
      .call(xAxis);
    xG.selectAll("text")
      .attr("transform", `translate(${-dx / 2}, 5)`)
      .style("fill", getRootCssVar("--f2"))
      .style("font-size", 14)
      .attr("dy", 20);
    xG.select("path")
      .style("stroke", getRootCssVar("--f2"))
      .style("stroke-width", "1.4");

    // x-axis tick marks
    const xl = svg.append("g");
    labels.forEach((label, i) => {
      if (
        (labels.length - i - 1) % parseInt(labels.length / (nLabels - 1)) ==
          0 ||
        labels.length <= 7
      ) {
        xl.attr("class", "x-ticks");
        xl.append("line")
          .attr("x1", xScale(label))
          .attr("y1", height)
          .attr("x2", xScale(label))
          .attr("y2", height + 8)
          .style("stroke", getRootCssVar("--f1"))
          .style("stroke-width", "2");
      }
    });

    // y-axis
    const yScale = d3.scaleLinear().range([height, 0]).domain([0, maxValue]);
    const yAxis = d3.axisLeft(yScale).tickSize(0).ticks(6);
    if (maxValue < 10) {
      yAxis.tickValues(Array.from(Array(parseInt(maxValue) + 1).keys()));
      yAxis.tickFormat((t, i) => parseInt(t));
    }
    const yG = svg.append("g").attr("class", "y-scale").call(yAxis);
    yG.selectAll("text")
      .style("fill", getRootCssVar("--f1"))
      .style("font-size", 14)
      .attr("dx", -10);
    yG.select("path")
      .style("stroke", getRootCssVar("--f1"))
      .style("stroke-width", "1.4");

    // draw the bars
    const plotLayer = svg.append("g");
    for (let i = 0; i < points.length; i++) {
      const padding = xScale.bandwidth() / 20;
      const bw = xScale.bandwidth();
      const gp = plotLayer.append("g");
      gp.attr("class", "bar-group");
      gp.append("rect")
        .attr("x", padding + xScale(points[i].label))
        .attr("y", 0)
        .attr("width", bw - 2 * padding)
        .attr("height", height)
        .attr("fill", "#fff")
        .style("opacity", "0");
      gp.append("rect")
        .attr("x", padding + xScale(points[i].label))
        .attr("y", yScale(points[i].value))
        .attr("width", bw - 2 * padding)
        .attr("height", height - yScale(points[i].value))
        .attr("fill", getRootCssVar("--bg-shaded-2"))
        .style("opacity", points[i].type == "predicted" ? "0.4" : "1");
      gp.append("text")
        .attr("x", xScale(points[i].label) + bw / 2)
        .attr("y", height - 8)
        .attr("text-anchor", "middle")
        .style("font-size", 14)
        .attr("fill", getRootCssVar("--f2"))
        .text(points[i].value);
      if (points[i].confidenceValues) {
        gp.append("line")
          .attr("x1", bw / 2 + xScale(points[i].label))
          .attr("y1", yScale(points[i].confidenceValues[0]))
          .attr("x2", bw / 2 + xScale(points[i].label))
          .attr("y2", yScale(points[i].confidenceValues[1]))
          .attr("stroke", getRootCssVar("--f2"))
          .attr("stroke-width", "2")
          .attr("stroke-dasharray", "4 2");
        gp.append("line")
          .attr("x1", bw / 2 + xScale(points[i].label) - 6)
          .attr("y1", yScale(points[i].confidenceValues[0]))
          .attr("x2", bw / 2 + xScale(points[i].label) + 6)
          .attr("y2", yScale(points[i].confidenceValues[0]))
          .attr("stroke", getRootCssVar("--f2"))
          .attr("stroke-width", "2");
        gp.append("line")
          .attr("x1", bw / 2 + xScale(points[i].label) - 6)
          .attr("y1", yScale(points[i].confidenceValues[1]))
          .attr("x2", bw / 2 + xScale(points[i].label) + 6)
          .attr("y2", yScale(points[i].confidenceValues[1]))
          .attr("stroke", getRootCssVar("--f2"))
          .attr("stroke-width", "2");
      }
    }

    // draw label & legend
    svg
      .append("rect")
      .attr("x", width - 120 - 32)
      .attr("y", 0)
      .attr("width", 32)
      .attr("height", 18)
      .attr("fill", getRootCssVar("--bg-shaded-2"));
    svg
      .append("text")
      .attr("x", width - 120 - 36)
      .attr("y", 15)
      .attr("text-anchor", "end")
      .style("font-size", 14)
      .attr("fill", getRootCssVar("--f2"))
      .text("Reported");
    svg
      .append("rect")
      .attr("x", width - 32)
      .attr("y", 0)
      .attr("width", 32)
      .attr("height", 18)
      .attr("fill", getRootCssVar("--bg-shaded-2"))
      .style("opacity", "0.4");
    svg
      .append("text")
      .attr("x", width - 36)
      .attr("y", 15)
      .attr("text-anchor", "end")
      .style("font-size", 14)
      .attr("fill", getRootCssVar("--f2"))
      .text("Predicted");
    svg
      .append("text")
      .attr("x", 0)
      .attr("y", -5)
      .attr("text-anchor", "middle")
      .style("font-size", 10)
      .attr("fill", getRootCssVar("--f2"))
      .text("Cases");
    svg
      .append("text")
      .attr("x", width)
      .attr("y", height + 13)
      .attr("text-anchor", "middle")
      .style("font-size", 10)
      .attr("fill", getRootCssVar("--f2"))
      .text("Weeks");
  }
  onDataLoad.push(renderTrendsSection);
</script>
